@font-face {
   font-family: 'radiospace';
   font-display: swap;
   src: url('file:///C:/Users/Marlucia/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-01-24_230750/fonts/radiospace/font.ttf');
}
